<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ .Site.LanguageCode }}">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>404 - PAGE_FAULT_IN_NONPAGED_AREA</title>
	<style type="text/css">
	body
	{
		background: #000099;
		color: white;
		font-family: Lucida Console, Monaco, monospace;
		font-size: 10pt;
	}
	</style>
</head>
<body link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">
	<p>A problem has been detected and RosCMS has been shut down to prevent damage to your computer.</p>

	<p>PAGE_FAULT_IN_NONPAGED_AREA</p>

	<p>If this is the first time you have seen this error screen,<br />
	restart your browser. If this screen appears again, follow<br />
	these steps:</p>

	<p>Make sure that the page you requested is spelled properly.<br />
	If this is the case, press F5 for advanced reload options.</p>

	<p>If problems continue, drop an email to ros-web@reactos.org</p>

	<p>Press Ctrl+Delete to navigate the Homepage.</p>

	<p><br />Technical information:</p>

	<p>*** STOP: 0x00000404 (0xcff1e274, 0x0000ba21, 0xbc28402a, 0x00000050)</p>


	<p><br />***&nbsp;<span id="uri"></span> - Address reactos.org, DateStamp <span id="date"></span></p>

	<script type="text/javascript">
	document.addEventListener("keydown", function(e)
	{
		if (e.ctrlKey && e.key === "Delete")
		{
			document.location = "{{ .Site.BaseURL }}";
		}
	});
	document.getElementById("uri").innerText = document.location.pathname;
	document.getElementById("date").innerText = Math.round(new Date().getTime() / 1000).toString(16).padStart(8, "0");
	</script>
</body>
</html>
